@use '../base';

// Container.
#about {
	height: 80vh;
	width: 95vw;
	margin-left: 5vw;
	padding: 2%;

	// Title.
	#title {
		color: base.$sand;
		font-family: base.$fancy-font;
		font-size: 3rem;
		margin-left: 9vw;
		position: absolute;
		z-index: 1;
		animation: fadeInAndPulse 1.5s forwards;
	}

	// Text.
	#text_container {
		width: 35vw;
		color: base.$dark-orange;
		font-size: 1.1rem;
		font-family: base.$plain-font;
		line-height: 5vh;
		margin-top: 6vw;
		margin-left: 5vw;
		position: absolute;
		z-index: 1;

		// Hello text.
		#text_top {
			margin-bottom: 3vh;
			animation: fadeInAndPulse 2s forwards;
		}

		// Hobbies text.
		#text_mid {
			margin-bottom: 3vh;
			animation: fadeInAndPulse 2.25s forwards;
		}

		// Skills text.
		#text_bot {
			animation: fadeInAndPulse 2.5s forwards;
		}
	}

	// Button.
	#btn {
		color: white;
		background: transparent;
		border: 3px solid white;
		font-family: base.$plain-font;
		padding: 0.5%;
		margin-top: 2vh;
		margin-left: 64vw;
		position: absolute;
		animation: fadeIn 2.5s forwards;
		cursor: pointer;
		transition: all 0.5s ease;

		// Button hover effect.
		&:hover {
			color: base.$turquoise;
			background: white;
		}
	}
}

// Fade in and pulse animation.
@keyframes fadeInAndPulse {
	from {
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}

	60% {
		opacity: 0;
	}

	80% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

// Fade in animation.
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
