// Imports _base.scss.
@use '../base';

// Container.
#home {
	height: 100%;
	width: 95vw;
	margin-left: 5vw;
	padding: 8%;
	// Changed the position and z-index so the text and link appear over the particles effect.
	position: absolute;
	z-index: 1;
	cursor: pointer;

	// Nesting in sass.
	#home_text {
		height: 35%;
		// Using variables in _base.scss.
		font-family: base.$plain-font;
	}
}
