// Sass stylesheet to hold variables.

// Import google fonts.
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

// Sass variables.
$plain-font: 'Merriweather', serif;
$fancy-font: 'Special Elite', cursive;

$dark-orange: #fa8f15;
$concrete: #4d4d4e;
$royal-blue: #041aaf;
$sand: #fba541;
$turquoise: #41d6fb;
